.icon_add {
 background-image: url(resources/image/add2.ico) !important;
}

.icon_delete {
 background-image: url(resources/image/delete.ico) !important;
}

.icon_copy {
 background-image: url(resources/image/copy.ico) !important;
}

.icon_ok {
    background-image: url(resources/image/ok2.ico) !important;
}

.icon_pm {
    background-image: url(resources/image/pm2.ico) !important;
}

.icon_search {
    background-image: url(resources/image/searching.ico) !important;
}
.icon_open {
    background-image: url(resources/image/open.ico) !important;
}
.icon_close {
    background-image: url(resources/image/close.ico) !important;
}
.icon_clear {
    background-image: url(resources/image/clear.ico) !important;
}
.icon_savee{
 background-image: url(resources/image/savvvv.ico) !important;
}
.icon_pdf{
     background-image: url(resources/image/PDF1.ico) !important;
 }
.icon_let{
    background-image: url(resources/image/letter.png) !important;
}
.bg-yellow > td { background:#fffec7 !important; }